* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

:root {
  --color-primary: #910017;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  
  --color-primary-font: #ffffff;
}
